# API Key OpenWeatherMap (Dapatkan di https://home.openweathermap.org/api_keys)
NUXT_PUBLIC_WEATHER_API_KEY=MASUKKAN_KODE_API_KEY_PANJANG_KAMU_DI_SINI

# Pengaturan Default Aplikasi
NUXT_PUBLIC_DEFAULT_CITY=Surakarta
NUXT_PUBLIC_API_BASE_URL=https://api.openweathermap.org/data/2.5