# OpenWeatherMap API Key
# Daftar gratis di: https://openweathermap.org/api
NUXT_PUBLIC_OPENWEATHER_API_KEY=your_api_key_here
NUXT_PUBLIC_DEFAULT_CITY=Surakarta
NUXT_PUBLIC_API_BASE_URL=https://api.openweathermap.org/data/2.5