@import "tailwindcss";

@theme {
  --font-family-sans: 'Outfit', sans-serif;
}

body {
  /* Reset margin dan set background default */
  margin: 0;
  background-color: #0f172a;
  color: white;
}

/* Scrollbar halus agar tidak merusak estetika glassmorphism */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.2); border-radius: 10px; }
::-webkit-scrollbar-track { background: transparent; }